.btn{
	.transition(0.2s);
	.fh;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: @input-height;
	line-height: @input-height;
	font-size: 28px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	text-transform: uppercase;
	color: @c1;
	outline: none;
	text-align: center;
	background: @c3;
	&:hover{
		color: #fff;
		background: @c2;
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			color: #fff;
			background: @c2;
		}
	}
}