// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Sakkal Majalla',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #333;
@c2: #bf0101;
@c3: #ffd534;
@c4: #ffcb01;
@c5: #ffbb34;
@c6: #ccad34;
@c7: #458200;

@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.5; // line height primary

// form
@input-size: 14px;
@input-height: 40px;
@input-padding: 15px;
@input-border: #ccc;
@input-bg: #fff;

// layout
@content-width: 1520px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 10px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1581px)";
@md: ~"(min-width: 992px) and (max-width: 1580px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";
@xxs: ~"(max-width: 479px)";