.img-left {
	float: left;
	margin: 0 20px 15px 0;
}
.img-right {
	float: right;
	margin: 0 0 15px ;
}
.prev_slider, .next_slider {
	position: absolute;
	z-index: 101;
	left: 0;
	top: 50%;
	height: 140px;
	overflow: hidden;
	width: 31px;
	margin: -70px 0 0;
	color: #ccc;
	text-decoration: none;
	&:hover{
		color: @c2;
	}
	&:before{
		.fi;
		.border-radius(50%);
		content: '\e813';
		position: absolute;
		z-index: 1;
		top: 50%;
		right: 0;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: left;
		margin: -30px 0 0;
		padding: 0 0 0 30px;
		font-size: 26px;
		border: 1px solid #ccc;
		background: #fff;
	}
	&:after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		border-left: 1px solid #ccc;
	}
}
.next_slider {
	left: auto;
	right: 0;
	&:before{
		content: '\e814';
		right: auto;
		left: 0;
		text-align: right;
		padding: 0 30px 0 0;
	}
	&:after{
		left: auto;
		right: 0;
	}
}
.labels_top, .labels_bottom {
	position: absolute;
	width: 120px;
	height: 120px;
	text-align: center;
	.label {
		.rotate(45deg);
		position: absolute;
		font-size: 14px;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		&:before{
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			border-top: 13px solid transparent;
			border-right: 13px solid transparent;
			margin: 0 0 0 -77px;
		}
		&:after{
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			border-top: 13px solid transparent;
			border-left: 13px solid transparent;
			margin: 0 0 0 65px;
		}
		&.top {
			width: 160px;
			height: 52px;
			line-height: 28px;
			padding: 24px 0 0;
			top: -19px;
			right: -73px;
			&:before{
				margin: 0 0 0 -51px;
			}
			&:after{
				margin: 0 0 0 38px;
			}
		}
		&.middle {
			width: 160px;
			height: 28px;
			line-height: 28px;
			top: 20px;
			right: -45px;
		}
		&.yellow {
			background: @c3;
			&:before, &:after {
				border-top-color: darken(@c3,20);
				border-bottom-color: darken(@c3,20);
			}
		}
		&.orange {
			background: @c5;
			&:before, &:after {
				border-top-color: darken(@c5,20);
				border-bottom-color: darken(@c5,20);
			}
		}
		&.gold {
			color: #fff;
			background: @c6;
			&:before, &:after {
				border-top-color: darken(@c6,20);
				border-bottom-color: darken(@c6,20);
			}
		}
		&.red {
			color: #fff;
			background: @c2;
			&:before, &:after {
				border-top-color: darken(@c2,20);
				border-bottom-color: darken(@c2,20);
			}
		}
	}
}
.labels_top {
	top: -1px;
	right: -1px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.labels_bottom {
	bottom: -1px;
	left: -1px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	.label {
		font-size: 18px;
		line-height: 30px;
		width: 160px;
		height: 56px;
		left: -72px;
		bottom: -20px;
		&:before{
			top: auto;
			bottom: 100%;
			margin: 0 0 0 -54px;
			border-top: 0;
			border-bottom: 13px solid transparent;
		}
		&:after{
			top: auto;
			bottom: 100%;
			margin: 0 0 0 41px;
			border-top: 0;
			border-bottom: 13px solid transparent;
		}
	}
}
.ui-slider {
	position: relative;
	display: block;
	margin: 20px 8px 40px;
	height: 6px;
	background: #ccc;
	border: 1px solid #ccc;
}
.ui-slider-range {
	position: absolute;
	top: 0;
	bottom: 0;
	background: #fff;
}
.ui-slider-handle {
	position: absolute;
	top: -8px;
	bottom: 0;
	width: 16px;
	height: 16px;
	margin: 0 0 0 -8px;
	background: #8a8a8a;
	outline: none;
	cursor: pointer;
	&:before{
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		border-bottom: 8px solid transparent;
		border-left: 8px solid #8a8a8a;
	}
	&:after{
		content: '';
		position: absolute;
		top: 100%;
		right: 0;
		border-bottom: 8px solid transparent;
		border-right: 8px solid #8a8a8a;
	}
}
.ui-slider-handle span {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 70px;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	margin: 18px 0 0 -35px;
}
#page-header {
	position: relative;
	padding: 23px 0 14px;
	background: #000;
	.container {
		@media @sm, @xs {
			text-align: center;
		}
	}
	.logo {
		.clearfix;
		clear: left;
		float: left;
		font-size: 36px;
		font-weight: bold;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin: 0 0 20px;
		@media @md {
			font-size: 32px;
		}
		@media @sm, @xs {
			float: none;
			text-align: center;
			margin: 40px 0;
		}
		a {
			display: inline-block;
			color: #fff;
			text-decoration: none;
			color: @c3;
			padding: 8px 0;
			mark {
				font-size: 0;
				color: @c3;
				float: left;
				margin: -16px 20px 0 0;
				letter-spacing: 0;
				@media @md, @sm, @xs {
					display: block;
					float: none;
				}
				@media @sm {
					
				}
				&:before{
					.fi;
					content: '\e81f';
					font-size: 65px;
					line-height: 1;
				}
			}
		}
	}
}
.menu_top {
	float: left;
	color: #fff;
	margin: 0 0 30px;
	@media @md, @sm, @xs {
		float: none;
		text-align: center;
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			margin: 0 20px 10px 0;
			font-size: 15px;
			line-height: 1.2;
			@media @md, @sm, @xs {
				margin-left: 10px;
				margin-right: 10px;
			}
			a {
				color: #bfbfbf;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.menu_login {
	color: #fff;
	float: right;
	margin: 0 0 20px;
	@media @md, @sm, @xs {
		float: none;
		text-align: center;
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			font-size: 15px;
			line-height: 1.2;
			margin: 0 0 10px 25px;
			@media @md, @sm, @xs {
				margin-left: 10px;
				margin-right: 10px;
			}
			a {
				color: @c3;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.search_header {
	position: relative;
	float: right;
	padding: 7px 10px;
	margin: 0 0 15px;
	@media @md {
		margin-top: 40px;
	}
	@media @sm, @xs {
		float: none;
		display: inline-block;
	}
	.toggle {
		font-size: 0;
		color: #fff;
		background: none;
		&:hover{
			color: @c3;
		}
		.search_header-on & {
			&:before{
				color: @c2;
				content: '\e818';
			}
		}
		@media @sm, @xs {
			display: none;
		}
		&:before{
			.fi;
			content: '\e809';
			font-size: 30px;
		}
	}
	form {
		display: none;
		position: absolute;
		top: 7px;
		right: 100%;
		width: 300px;
		@media @sm, @xs {
			position: static;
			display: block;
		}
		@media @xxs {
			width: auto;
		}
		.search_header-on & {
			display: block;
		}
		[type=text], [type=search] {
			float: left;
			width: 200px;
			@media @xxs {
				width: 100%;
			}
		}
		[type=submit] {
			float: left;
			width: 100px;
			padding: 0;
			font-size: 20px;
			@media @xxs {
				width: 100%;
			}
		}
	}
}
.contact_header {
	float: right;
	text-align: center;
	color: #fff;
	min-height: 45px;
	font-size: 13px;
	line-height: 1.2;
	padding: 2px 20px 0 25px;
	margin: 0 0 15px;
	border-left: 1px solid #bfbfbf;
	@media @md {
		margin-top: 40px;
	}
	@media @sm, @xs {
		float: none;
		border: none;
	}
	mark {
		font-size: 24px;
		color: @c3;
		font-weight: 300;
	}
	a {
		color: #bfbfbf;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
.basket_header {
	position: relative;
	float: right;
	min-height: 45px;
	font-size: 13px;
	line-height: 1.2;
	color: #bfbfbf;
	padding: 2px 83px 0 22px;
	margin: 0 0 15px;
	text-align: left;
	border-left: 1px solid #bfbfbf;
	@media @md {
		margin-top: 40px;
	}
	@media @sm, @xs {
		float: none;
		display: inline-block;
		margin: 0 0 30px;
		border: 0;
	}
	mark {
		color: #fff;
		display: block;
		font-size: 20px;
		margin: 3px 0 0;
		strong {
			font-weight: 800;
		}
	}
	p {
		margin: 0;
	}
	nav {
		a {
			.border-radius(50%);
			position: absolute;
			top: 50%;
			right: 0;
			width: 56px;
			height: 56px;
			line-height: 56px;
			margin: -28px 0 0;
			text-align: center;
			text-decoration: none;
			font-size: 0;
			color: @c1;
			background: @c3;
			&:hover{
				color: #fff;
				background: @c2;
			}
			&:before{
				.fi;
				content: '\e821';
				font-size: 30px;
			}
		}
	}
}
.menu_main {
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid @c1;
	@media @sm, @xs {
		margin: 0;
	}
	.toggle {
		display: none;
		width: 100%;
		height: 60px;
		line-height: 60px;
		&:before{
			.fi;
			content: '\f0c9';
			margin: 0 10px 0 0;
			font-weight: normal;
		}
		@media @sm, @xs {
			display: block;
		}
	}
	.container {
		@media @sm, @xs {
			width: auto;
			padding: 0;
		}
	}
	ul {
		.rul;
		display: table;
		width: 100%;
		margin: 0 -10px;
		@media @sm, @xs {
			display: none;
			.menu_main-on & {
				display: block;
			}
		}
		li {
			.rli;
			.fh;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-size: 25px;
			line-height: 1;
			font-weight: bold;
			text-transform: uppercase;
			@media @sm, @xs {
				display: block;
				border-top: 1px solid @c1;
			}
			a {
				display: block;
				color: @c1;
				text-decoration: none;
				padding: 32px 10px 24px;
				&:hover{
					color: @c2;
				}
			}
		}
	}
}
.header_slider {
	overflow: hidden;
	color: #fff;
	text-shadow: 0 0 20px #000;
	background: #000;
	.items {
		.item {
			position: relative;
			figure {
				img {
					display: block;
				}
			}
			.content {
				position: absolute;
				bottom: 33.3333%;
				left: 50%;
				width: @content-width/3.8;
				margin: 0 0 0 -@content-width/2;
				padding: 10px;
				text-align: left;
				text-transform: uppercase;
				font-size: 15px;
				line-height: 2.15;
				background: fade(#000,50);
				@media @md {
					width: @content-width-md/2;
					margin: 0 0 0 -@content-width-md/2+10;
					bottom: 20%;
					font-size: 13px;
				}
				@media @sm, @xs {
					position: static;
					width: auto;
					margin: 0;
					text-align: center;
				}
				h2 {
					font-size: 78px;
					line-height: 1;
					font-weight: normal;
					@media @md, @sm, @xs {
						font-size: 50px;
					}
				}
				p {
					margin: 0 80px 0 0;
				}
				nav {
					a {
						.fh;
						.rotate(-90deg);
						position: absolute;
						bottom: -12px;
						right: -18px;
						font-size: 0;
						line-height: 80px;
						width: 80px;
						text-align: center;
						text-decoration: none;
						color: @c3;
						&:hover{
							color: @c2;
						}
						&:before{
							content: 'v';
							font-size: 78px;
						}
					}
				}
			}
		}
	}
}
.well_header {
	position: relative;
	z-index: 1;
	padding: 56px 0;
	margin: 0 0 35px;
	background: #f2f2f2;
	background-image: -moz-linear-gradient(left,  #e3e3e3 0%, #f2f2f2 50%, #e3e3e3 100%);
	background-image: -webkit-linear-gradient(left,  #e3e3e3 0%,#f2f2f2 50%,#e3e3e3 100%);
	background-image: linear-gradient(to right,  #e3e3e3 0%,#f2f2f2 50%,#e3e3e3 100%);
	@media @md, @sm, @xs {
		padding: 35px 0;
	}
	&:before{
		content: '';
		position: absolute;
		top: 100%;
		left: 50%;
		border: 68px solid transparent;
		border-top: 18px solid #f2f2f2;
		border-bottom: 0;
		margin: 0 0 0 -68px;
	}
	h1, h2, h3 {
		text-align: center;
		text-transform: uppercase;
		font-size: 48px;
		line-height: 1;
		margin: 0;
		font-weight: normal;
	}
}
.title_main {
	text-transform: uppercase;
	margin: 0 0 20px;
	* {
		.fh;
		font-size: 48px;
		margin: 0;
	}
	[class^="icon-"] {
		&:before{
			.border-radius(50%);
			display: inline-block;
			width: 62px;
			height: 62px;
			line-height: 62px;
			font-size: 36px;
			text-align: center;
			color: #fff;
			background: @c1;
			margin: 0 15px 0 0;
		}
	}
	&.text-center {
		[class^="icon-"] {
			&:before {
				margin: 0 15px;
			}
		}
	}
}
.product_list {
	.items {
		text-align: center;
		margin: 0 -10px 45px;
		.item {
			display: inline-block;
			position: relative;
			vertical-align: top;
			width: 304px;
			margin: 0 -2px 10px;
			padding: 7px;
			overflow: hidden;
			border: 3px solid #fff;
			@media @md {
				width: 192px;
				.main_content & {
					width: 220px;
				}
			}
			@media @sm, @xs {
				width: 244px;
			}
			a {
				display: block;
				position: relative;
				color: @c1;
				text-decoration: none;
				padding: 30px 0;
				border: 1px solid transparent;
				&:hover{
					border-color: #ccc;
				}
				figure {
					margin: 0 10% 20px;
					@media @md {
						margin-left: 0;
						margin-right: 0;
					}
					img {
						display: block;
						margin: auto;
					}
				}
				h2 {
					font-size: 24px;
					font-weight: bold;
					text-transform: uppercase;
					margin: 0 0 5px;
				}
				.price, .new-price {
					.fh;
					font-size: 33px;
					line-height: 1;
				}
				.new-price {
					color: @c2;
				}
				.old-price {
					.fh;
					font-size: 24px;
					line-height: 1;
					margin: 0 0 -18px;
					color: #828282;
				}
			}
		}
	}
	nav {
		position: relative;
		text-align: center;
		overflow: hidden;
		margin: 0 0 55px;
		&:before{
			content: '';
			position: absolute;
			top: 12px;
			right: 0;
			left: 0;
			border-top: 1px solid #ccc;
		}
		a {
			.border-radius(50%);
			display: block;
			position: relative;
			width: 106px;
			height: 106px;
			line-height: 86px;
			padding: 20px 0 0;
			margin: -53px auto 0;
			font-size: 0;
			text-decoration: none;
			color: #ccc;
			background: #fff;
			border: 1px solid #ccc;
			&:hover{
				color: @c2;
			}
			&:before{
				.fi;
				content: '\e80a';
				font-size: 36px;
			}
		}
	}
	&.slider {
		@media @xs {
			margin-left: auto;
			margin-right: auto;
			width: 482px;
		}
		@media (max-width: 560px) {
			width: 240px;
		}
		.items {
			margin-left: 0;
			margin-right: 0;
			.item {
				a {
					padding: 20px 0;
				}
				figure {
					margin-left: 13%;
					margin-right: 13%;
				}
				h2 {
					margin: 0;
				}
			}
		}
	}
}
.carousel_slider {
	margin: 0 0 60px;
	border-top: 1px solid #ccc;
	.title {
		.fh;
		text-align: center;
		font-size: 48px;
		text-transform: uppercase;
		margin: 60px 0 55px;
	}
	.slider {
		ul {
			.rul;
			text-align: center;
			position: relative;
			li {
				.rli;
				display: inline-block;
				vertical-align: bottom;
				margin: 0 25px 25px;
				@media @md, @sm, @xs {
					margin-left: 60px;
					margin-right: 60px;
				}
				img {
					display: block;
					margin: auto;
					@media @md, @sm, @xs {
						max-width: 120px;
					}
				}
			}
		}
	}
}
.banners {
	color: #fff;
	text-shadow: 0 0 20px #000;
	background: #000 url(../images/example/21.jpg) no-repeat right;
	background-size: auto 100%;
	overflow: hidden;
	.items {
		margin: 125px -30px;
		@media @md, @sm, @xs {
			margin-top: 50px;
			margin-bottom: 50px;
		}
		@media @xs {
			margin-left: 0;
			margin-right: 0;
		}
		.item {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			margin: 0 -2px;
			padding: 30px 70px;
			background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.78) 50%, rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 50%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 50%,rgba(0,0,0,0) 100%);
			@media @md, @sm, @xs {
				padding: 20px;
			}
			@media @sm, @xs {
				display: block;
				margin: auto;
				width: auto;
			}
			&:before, &:after{
				content: '';
				position: absolute;
				top: 0;
				left: 30px;
				right: 30px;
				height: 1px;
				background: -moz-linear-gradient(left,  rgba(255,203,1,0) 0%, rgba(255,203,1,1) 25%, rgba(255,203,1,1) 75%, rgba(255,203,1,0) 100%);
				background: -webkit-linear-gradient(left,  rgba(255,203,1,0) 0%,rgba(255,203,1,1) 25%,rgba(255,203,1,1) 75%,rgba(255,203,1,0) 100%);
				background: linear-gradient(to right,  rgba(255,203,1,0) 0%,rgba(255,203,1,1) 25%,rgba(255,203,1,1) 75%,rgba(255,203,1,0) 100%);
			}
			&:after{
				top: 100%;
			}
			h2 {
				font-size: 48px;
				line-height: 1;
				font-weight: bold;
				text-transform: uppercase;
				margin: 0 0 38px;
				@media @md, @sm, @xs {
					font-size: 36px;
					margin: 0 0 20px;
				}
				small {
					font-weight: normal;
					display: block;
				}
			}
			nav {
				a {
					text-decoration: none;
					display: inline-block;
					position: relative;
					padding: 0 0 0 33px;
					font-size: 24px;
					font-weight: 300;
					line-height: 1.2;
					color: @c3;
					@media @md, @sm, @xs {
						font-size: 20px;
					}
					&:hover{
						color: #fff;
					}
					&:before{
						.fi;
						content: '\e814';
						position: absolute;
						left: 7px;
						line-height: 1;
						color: #fff;
						font-size: 26px;
					}
				}
			}
		}
	}
}
.menu_bottom {
	overflow: hidden;
	position: relative;
	padding: 50px 0;
	background: @c3;
	.title {
		.fh;
		font-size: 32px;
		line-height: 1;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 0 23px;
		small {
			display: block;
			font-weight: normal;
		}
	}
	ul {
		.rul;
		@media @sm, @xs {
			margin: 0 0 30px;
		}
		li {
			font-size: 14px;
			line-height: 1.2;
			font-weight: 600;
			margin: 0 0 12px;
			text-transform: uppercase;
			@media @sm, @xs {
				display: inline-block;
				vertical-align: top;
				margin: 0 10px 10px 0;
			}
			&:before{
				font-weight: normal;
			}
			a {
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		&.profiles {
			margin: 0 0 32px;
			li {
				.rli;
				margin: 0;
				display: inline-block;
				vertical-align: middle;
				width: 54px;
				margin: 0 3px 5px 0;
				[class^="icon-"] {
					.border-radius(50%);
					display: inline-block;
					width: 54px;
					height: 54px;
					color: #fff;
					font-weight: normal;
					font-size: 0;
					text-align: center;
					background: @c1;
					&:before{
						font-size: 32px;
						line-height: 54px;
					}
				}
				img {
					.border-radius(50%);
					display: block;
				}
			}
		}
	}
	nav {
		a {
			.fh;
			display: inline-block;
			text-decoration: none;
			color: @c1;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 66px;
			white-space: nowrap;
			padding: 0 34px;
			border: 1px solid @c1;
			&:hover{
				color: @c3;
				background: @c1;
			}
			[class^="icon-"] {
				position: relative;
				top: 4px;
				font-size: 30px;
				float: left;
				margin: 0 20px 0 -7px;
				&:before{
					margin: 0;
				}
			}
		}
	}
}
.menu_footer {
	position: relative;
	overflow: hidden;
	padding: 65px 0 25px;
	color: #fff;
	background: #333;
	&>figure {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		&:before{
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			bottom: 0;
			right: 0;
			width: 50%;
			background: -moz-linear-gradient(left,  rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
			background: -webkit-linear-gradient(left,  rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%);
			background: linear-gradient(to right,  rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%);
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 50%;
			left: 0;
			background: #333;
		}
		img {
			position: absolute;
			top: 0;
			right: 0;
			max-height: 100%;
			min-height: 100%;
			width: auto!important;
			display: block;
		}
	}
	.container {
		z-index: 2;
	}
	.title {
		.fh;
		font-size: 32px;
		line-height: 1;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 0 23px;
		min-height: 45px;
		small {
			display: block;
			font-weight: normal;
		}
	}
	ul {
		.rul;
		@media @sm, @xs {
			margin: 0 0 30px;
		}
		li {
			font-size: 14px;
			line-height: 1.2;
			font-weight: 600;
			margin: 0 0 12px;
			text-transform: uppercase;
			@media @sm, @xs {
				display: inline-block;
				margin: 0 10px 10px 0;
			}
			&:before{
				font-weight: normal;
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	nav {
		.fh;
		text-transform: uppercase;
		font-size: 42px;
		line-height: 1;
		margin: 35px 0;
		a {
			color: #fff;
			text-decoration: none;
			&:after{
				.rotate(-90deg);
				position: relative;
				top: -2px;
				left: 10px;
				content: 'v';
				display: inline-block;
				width: 42px;
				height: 42px;
				text-align: center;
			}
			mark {
				color: @c3;
				display: block;
			}
			&:hover{
				&, mark {
					color: @c2;
				}
			}
		}
	}
	address {
		display: inline-block;
		vertical-align: top;
		font-style: normal;
		font-size: 19px;
		margin: 0 0 20px;
	}
	.open {
		display: inline-block;
		position: relative;
		vertical-align: top;
		padding: 0 0 0 50px;
		margin: 0 0 20px;
		&:before{
			.fi;
			position: absolute;
			content: '\e814';
			top: 50%;
			left: 8px;
			line-height: 1;
			font-size: 44px;
			margin: -22px 0 0;
		}
		tr {
			th, td {
				padding: 4px 0;
				font-weight: normal;
				font-size: 18px;
				line-height: 1.2;
			}
			th {
				padding-right: 45px;
			}
		}
	}
	.contact {
		position: relative;
		margin: 30px 23% 30px 0;
		padding: 43px 0 12px;
		background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.78) 50%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 50%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 50%,rgba(0,0,0,0) 100%);
		@media @sm, @xs {
			margin-right: 0;
			text-align: center;
		}
		&:before, &:after{
			content: '';
			position: absolute;
			top: 0;
			left: 30px;
			right: 30px;
			height: 1px;
			background: -moz-linear-gradient(left,  rgba(255,203,1,0) 0%, rgba(255,203,1,1) 25%, rgba(255,203,1,1) 75%, rgba(255,203,1,0) 100%);
			background: -webkit-linear-gradient(left,  rgba(255,203,1,0) 0%,rgba(255,203,1,1) 25%,rgba(255,203,1,1) 75%,rgba(255,203,1,0) 100%);
			background: linear-gradient(to right,  rgba(255,203,1,0) 0%,rgba(255,203,1,1) 25%,rgba(255,203,1,1) 75%,rgba(255,203,1,0) 100%);
		}
		&:after{
			top: 100%;
		}
		.title {
			font-size: 42px;
			font-weight: normal;
			margin: 0 0 20px;
		}
		.phone {
			color: @c3;
			margin: -6px 0 5px;
			font-size: 18px;
			mark {
				font-size: 36px;
				color: @c3;
				font-weight: 300;
			}
		}
		.email {
			font-size: 18px;
			margin: 0 0 5px;
		}
	}
}
.breadcrumbs {
	position: relative;
	padding: 12px 0 17px;
	margin: 0 0 50px;
	background: #e3e3e3;
	ul {
		.rul;
		li {
			display: inline-block;
			font-size: 15px;
			margin: 0 15px 0 0;
			padding: 0 0 0 20px;
			&:before{
				color: #8a8a8a;
				font-size: 16px;
			}
			&.home {
				padding: 0;
				&:before{
					display: none;
				}
				a {
					font-size: 0;
					&:hover{
						text-decoration: none;
						color: @c2;
					}
					&:before{
						.fi;
						content: '\e80c';
						font-size: 21px;
					}
				}
			}
			a {
				color: #8a8a8a;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.product_detail {
	.clearfix;
	margin: 0 0 60px;
	.product_description {
		float: right;
		width: 50%;
		padding: 0 0 0 80px;
		@media @md {
			padding: 0 0 0 30px;
		}
		@media @sm, @xs {
			float: none;
			width: auto;
			padding: 0;
		}
		h1 {
			text-transform: uppercase;
			font-size: 48px;
			line-height: 1;
			margin: 0 0 20px;
		}
		.excerpt {
			.more {
				display: inline-block;
				position: relative;
				color: @c5;
				padding: 0 0 0 10px;
				&:before{
					.fi;
					content: '\e814';
					position: absolute;
					top: 5px;
					left: 0;
					font-size: 10px;
				}
			}
		}
		.basket {
			.clearfix;
			position: relative;
			margin: 30px 0 70px;
			padding: 30px 0 54px;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			.price_box {
				float: left;
				width: 69%;
				@media @md, @sm, @xs {
					float: none;
					width: auto;
					margin: 0 0 30px;
				}
				.label {
					display: inline-block;
					vertical-align: middle;
					margin: 0 -4px 0 0;
					width: 42%;
					padding: 0 20px 0 0;
					color: #828282;
					@media @sm, @xs {
						width: auto;
						display: block;
						margin: 0;
					}
					mark {
						color: @c1;
					}
				}
				.value {
					display: inline-block;
					vertical-align: middle;
					margin: 0 -4px 0 0;
					width: 58%;
					@media @sm, @xs {
						display: block;
						margin: 0;
						width: auto;
					}
					&.old {
						mark {
							
						}
					}
					mark {
						.fh;
						font-size: 33px;
						line-height: 1;
						color: @c2;
						strong {
							font-size: 48px;
						}
					}
					strike {
						color: #828282;
					}
				}
			}
			.attribute_box {
				float: left;
				width: 31%;
				padding: 13px 0;
				@media @md, @sm, @xs {
					float: none;
					width: auto;
				}
				.delivery {
					position: relative;
					padding: 0 0 0 35px;
					margin: 0 0 10px;
					font-weight: bold;
					color: @c2;
					&:before{
						.fi;
						content: '\e820';
						position: absolute;
						top: 0;
						left: 0;
						font-size: 22px;
						line-height: 1;
						font-weight: normal;
					}
				}
				.avability {
					position: relative;
					padding: 0 0 0 35px;
					margin: 0 0 10px;
					font-weight: bold;
					&:before{
						.fi;
						position: absolute;
						top: 2px;
						left: 4px;
						font-size: 20px;
						line-height: 1;
					}
					&.success {
						color: @c7;
						&:before{
							content: '\e80d';
						}
					}
					&.info {
						color: @c5;
						&:before{
							content: '\e80d';
						}
					}
					&.error {
						color: @c2;
						&:before{
							content: '\e818';
							font-size: 18px;
						}
					}
				}
			}
			.submit {
				position: absolute;
				bottom: -40px;
				right: 0;
				@media @sm, @xs {
					position: static;
				}
				a {
					.btn;
					height: 80px;
					line-height: 88px;
					font-size: 36px;
					padding: 0 70px;
					&:before{
						.fi;
						content: '\e821';
						float: left;
						font-weight: normal;
						margin: -4px 35px 0 -20px;
					}
				}
			}
		}
		.attribute {
			.clearfix;
			margin: 0 0 40px;
			h2 {
				text-transform: uppercase;
				font-size: 25px;
				font-weight: bold;
				margin: 0 0 5px;
			}
			.logo {
				float: right;
				width: 33.3333%;
				padding: 0 0 0 20px;
				text-align: right;
				@media @md, @sm, @xs {
					float: none;
					width: auto;
					text-align: left;
				}
			}
			table {
				float: left;
				max-width: 66.66%;
				margin: 10px 0;
				@media @md, @sm, @xs {
					max-width: 100%;
					float: none;
				}
				tr {
					th, td {
						font-size: 14px;
						line-height: 1.2;
						padding: 0 0 10px;
					}
					th {
						width: 48%;
					}
				}
			}
		}
		.offer {
			font-size: 14px;
			line-height: 1.9;
			overflow: hidden;
			h2 {
				color: @c2;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 36px;
				line-height: 1;
				margin: 0 0 25px;
			}
			.form-control {
				label {
					display: inline-block;
					vertical-align: middle;
					width: 33.3333%;
					margin: 0 -4px 0 0;
					font-weight: bold;
					line-height: 1.2;
					@media @xs {
						display: block;
						width: auto;
						margin: 0;
					}
				}
				input[type="text"], input[type="tel"], input[type="email"], textarea {
					width: 66.6666%;
					margin: 6px 0;
					@media @xs {
						width: 100%;
					}
				}
				textarea {
					height: 75px;
				}
			}
			.submit {
				.clearfix;
				margin: 12px 0;
				button {
					.fh;
					float: right;
					width: 66.6666%;
					font-weight: normal;
					font-size: 24px;
					height: 60px;
					line-height: 60px;
					color: #fff;
					background: @c1;
					&:hover{
						background: @c2;
					}
					&:before{
						.fi;
						content: '\e810';
						font-size: 20px;
						margin: 0 15px 0 0;
					}
				}
			}
		}
	}
	.product_info {
		float: left;
		width: 50%;
		padding: 0 10px 0 0;
		font-size: 15px;
		line-height: 1.8;
		@media @sm, @xs {
			float: none;
			width: auto;
			padding: 0;
		}
		h2 {
			text-transform: uppercase;
			font-size: 36px;
			font-weight: bold;
		}
	}
}
.thumbnails_slider {
	.clearfix;
	position: relative;
	margin: 0 0 90px;
	@media @sm, @xs {
		margin-top: 70px;
	}
	.inner {
		position: relative;
		overflow: hidden;
		margin: 0 -10px;
		width: 572px;
		float: left;
		@media @md {
			width: 350px;
		}
		@media @sm {
			width: 539px;
		}
		@media @xs {
			width: auto;
		}
		.thumbnails {
			position: relative;
			margin: 9px;
			border: 1px solid #ccc;
			&:hover{
				border-color: @c2;
			}
		}
		.labels_top {
			z-index: 101;
			top: 1px;
			right: 1px;
			border-top: 0;
			border-right: 0;
			.label {
				&.middle {
					font-size: 19px;
					height: 40px;
					line-height: 40px;
					width: 240px;
					top: 27px;
					right: -73px;
					&:before{
						margin-left: -101px;
					}
					&:after{
						margin-left: 88px;
					}
				}
				&.top {
					height: 65px;
					font-size: 19px;
					padding: 32px 0 0;
					top: -23px;
					right: -69px;
				}
			}
		}
		.labels_bottom {
			z-index: 101;
			left: 1px;
			bottom: 1px;
			border-left: 0;
			border-bottom: 0;
			.label {
				width: 220px;
				bottom: -28px;
				left: -88px;
				height: 100px;
				font-size: 32px;
				padding: 15px 0 0;
				&:before{
					margin: 0 0 0 -96px;
				}
				&:after{
					margin: 0 0 0 83px;
				}
			}
		}
	}
	ul {
		.rul;
		li {
			.rli;
			width: 100%;
			img {
				display: block;
			}
		}
	}
	.pager {
		position: absolute;
		top: 9px;
		right: 0;
		bottom: 9px;
		width: 170px;
		overflow: hidden;
		@media @md {
			width: 96px;
		}
		@media @sm {
			width: 159px;
		}
		@media @xs {
			display: none;
		}
		ul {
			li {
				margin: 0 0 22px;
				&.cycle-pager-active {
					a {
						border-color: @c2;
					}
				}
				a {
					display: block;
					border: 1px solid #ccc;
					&:hover{
						border-color: @c2;
					}
				}
			}
		}
	}
	.prev, .next {
		position: absolute;
		top: -36px;
		right: 35px;
		text-align: center;
		width: 100px;
		font-size: 26px;
		line-height: 1;
		color: #ccc;
		@media @xs {
			.btn;
			top: auto;
			bottom: -50px;
			width: 70px;
		}
		&:hover{
			color: @c2;
		}
		&:before{
			.fi;
		}
		&.disabled {
			color: #eee;
			cursor: default;
			@media @xs {
				background: #ccc;
			}
		}
	}
	.prev {
		&:before{
			content: '\e815';
		}
		@media @xs {
			right: 51%;
			&:before{
				content: '\e813';
			}
		}
	}
	.next {
		top: auto;
		bottom: -36px;
		@media @xs {
			right: auto;
			left: 51%;
			&:before{
				content: '\e814';
			}
		}
		&:before{
			content: '\e812';
		}
	}
}
.sidebar {
	float: left;
	width: 260px;
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
.main_content {
	float: right;
	width: 1200px;
	margin: 0 0 90px;
	@media @md {
		width: 640px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
.range_filter {
	margin: 0 0 75px;
	.slider_range {
		@media @sm, @xs {
			margin-left: 35px;
			margin-right: 35px;
		}
	}
	.title {
		.fh;
		font-size: 25px;
		line-height: 1.2;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 10px;
	}
}
.menu_sidebar {
	margin: 0 0 35px;
	.title {
		.fh;
		font-size: 25px;
		line-height: 1.2;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 10px;
	}
	ul {
		.rul;
		li {
			.rli;
			font-size: 14px;
			line-height: 1.2;
			margin: 0 0 10px;
			@media @sm, @xs {
				display: inline-block;
				vertical-align: top;
				margin-right: 10px;
			}
			a {
				text-transform: uppercase;
				text-decoration: none;
				color: @c1;
				font-weight: 600;
				&:hover{
					text-decoration: underline;
				}
			}
			&>input[type="checkbox"], &>.icheckbox{
				position: absolute;
				left: 0;
				top: 0;
				font-size: 14px;
				color: #ccc;
			}
			label {
				display: inline-block;
				margin: 0 0 0 28px;
				font-weight: 600;
				cursor: pointer;
				&:hover{
					text-decoration: underline;
				}
			}
			mark {
				display: inline-block;
				color: @c6;
				margin: 0 0 0 5px;
			}
		}
	}
	&.reduced {
		ul {
			max-height: 360px;
			overflow: auto;
			@media @sm, @xs {
				max-height: none;
			}
		}
	}
}
.reset_filter {
	margin: 50px 0;
	a {
		.fh;
		.transition(0.2s);
		display: inline-block;
		border: 1px solid @c1;
		white-space: nowrap;
		color: @c1;
		font-size: 24px;
		line-height: 58px;
		padding: 0 30px;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			color: #fff;
			border-color: @c2;
			background: @c2;
		}
		&:before{
			.fi;
			content: '\e818';
			font-size: 20px;
			margin: 0 20px 0 -6px;
			float: left;
		}
	}
}
.pagination {
	text-align: right;
	@media @md, @sm, @xs {
		text-align: center;
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 5px;
			&.first {
				@media @xs {
					width: 40%;
					a {
						width: auto;
					}
				}
				a {
					font-size: 0;
					&:before{
						.fi;
						content: '\e808';
						font-size: 24px;
					}
				}
			}
			&.prev {
				margin-right: 11px;
				@media @xs {
					width: 40%;
					a {
						width: auto;
					}
				}
				a {
					font-size: 0;
					&:before{
						.fi;
						content: '\e81a';
						font-size: 24px;
					}
				}
			}
			&.next {
				margin-left: 11px;
				@media @xs {
									width: 40%;
									a {
										width: auto;
									}
								}
				a {
					font-size: 0;
					&:before{
						.fi;
						content: '\e81b';
						font-size: 24px;
					}
				}
			}
			&.last {
				@media @xs {
									width: 40%;
									a {
										width: auto;
									}
								}
				a {
					font-size: 0;
					&:before{
						.fi;
						content: '\e819';
						font-size: 24px;
					}
				}
			}
			a, span {
				.transition(0.2s);
				display: block;
				width: 49px;
				height: 49px;
				line-height: 47px;
				text-align: center;
				text-decoration: none;
				color: @c1;
				font-size: 19px;
				border: 1px solid @c1;
				@media @md, @sm {
					width: 38px;
					height: 38px;
					line-height: 36px;
				}
			}
			span {
				color: #fff;
				background: @c1;
			}
			a {
				&:hover{
					color: #fff;
					border-color: @c2;
					background: @c2;
				}
			}
		}
	}
}
#page-footer {
	padding: 40px 0;
	.copy {
		float: left;
		font-weight: 600;
	}
	.xart {
		float: right;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 600;
		margin: 3px 0;
		a {
			color: @c1;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			margin: 0 0 0 10px;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e815';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}