@font-face {
    font-family: 'Sakkal Majalla';
    src: url('majalla-webfont.eot');
    src: url('majalla-webfont.eot?#iefix') format('embedded-opentype'),
         url('majalla-webfont.woff2') format('woff2'),
         url('majalla-webfont.woff') format('woff'),
         url('majalla-webfont.ttf') format('truetype'),
         url('majalla-webfont.svg#sakkal_majallaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sakkal Majalla';
    src: url('majallab-webfont.eot');
    src: url('majallab-webfont.eot?#iefix') format('embedded-opentype'),
         url('majallab-webfont.woff2') format('woff2'),
         url('majallab-webfont.woff') format('woff'),
         url('majallab-webfont.ttf') format('truetype'),
         url('majallab-webfont.svg#sakkal_majallabold') format('svg');
    font-weight: bold;
    font-style: normal;
}