@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?8906701');
  src: url('../font/icons.eot?8906701#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?8906701') format('woff2'),
       url('../font/icons.woff?8906701') format('woff'),
       url('../font/icons.ttf?8906701') format('truetype'),
       url('../font/icons.svg?8906701#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?8906701#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-step-backward:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-dot-3:before { content: '\e80a'; } /* '' */
.icon-right-hand:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-down:before { content: '\e80e'; } /* '' */
.icon-left:before { content: '\e80f'; } /* '' */
.icon-right:before { content: '\e810'; } /* '' */
.icon-up:before { content: '\e811'; } /* '' */
.icon-down-open-big:before { content: '\e812'; } /* '' */
.icon-left-open-big:before { content: '\e813'; } /* '' */
.icon-right-open-big:before { content: '\e814'; } /* '' */
.icon-up-open-big:before { content: '\e815'; } /* '' */
.icon-star:before { content: '\e816'; } /* '' */
.icon-bookmark:before { content: '\e817'; } /* '' */
.icon-cancel-1:before { content: '\e818'; } /* '' */
.icon-step-forward:before { content: '\e819'; } /* '' */
.icon-left-dir:before { content: '\e81a'; } /* '' */
.icon-right-dir:before { content: '\e81b'; } /* '' */
.icon-diamond:before { content: '\e81c'; } /* '' */
.icon-lips:before { content: '\e81d'; } /* '' */
.icon-mustache:before { content: '\e81e'; } /* '' */
.icon-logo:before { content: '\e81f'; } /* '' */
.icon-delivery:before { content: '\e820'; } /* '' */
.icon-basket:before { content: '\e821'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */