
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-step-backward:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-dot-3:before { content: '\e80a'; } /* '' */
.icon-right-hand:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-down:before { content: '\e80e'; } /* '' */
.icon-left:before { content: '\e80f'; } /* '' */
.icon-right:before { content: '\e810'; } /* '' */
.icon-up:before { content: '\e811'; } /* '' */
.icon-down-open-big:before { content: '\e812'; } /* '' */
.icon-left-open-big:before { content: '\e813'; } /* '' */
.icon-right-open-big:before { content: '\e814'; } /* '' */
.icon-up-open-big:before { content: '\e815'; } /* '' */
.icon-star:before { content: '\e816'; } /* '' */
.icon-bookmark:before { content: '\e817'; } /* '' */
.icon-cancel-1:before { content: '\e818'; } /* '' */
.icon-step-forward:before { content: '\e819'; } /* '' */
.icon-left-dir:before { content: '\e81a'; } /* '' */
.icon-right-dir:before { content: '\e81b'; } /* '' */
.icon-diamond:before { content: '\e81c'; } /* '' */
.icon-lips:before { content: '\e81d'; } /* '' */
.icon-mustache:before { content: '\e81e'; } /* '' */
.icon-logo:before { content: '\e81f'; } /* '' */
.icon-delivery:before { content: '\e820'; } /* '' */
.icon-basket:before { content: '\e821'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */